<div class="intro">
  <h2>OMG is a curated collection of <strong>Articles</strong>, <strong>Videos</strong> and <strong>Tutorials</strong> on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid">CSS Grids</a> from around the web</h2>
</div>